In [1]:
import os
import mysql.connector
import pandas as pd
from datetime import datetime

In [2]:
connection = mysql.connector.connect(host = "localhost",
                                    user = 'root',
                                    passwd='123456',
                                    )

In [3]:
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x000001F8139FD040>

In [4]:
c=connection.cursor()

In [6]:
c.execute('create database Incubyte;')

In [7]:
c.execute('use incubyte;')

In [8]:
q='CREATE TABLE customers (Customer_Name varchar(255), Customer_Id varchar(18), Open_Date date, Last_Consulted_Date date, Vaccination_Id varchar(5),Dr_Name varchar(255), State varchar(5), Country varchar(5), DOB date, Is_Active varchar(1));'
c.execute(q)

In [9]:
query='Insert into customers(Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Id, Dr_Name, State, Country, DOB, Is_Active) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)' 

value=[('Alex','123457','20101012','20121013','MVD','Paul','SA','USA',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('John','123458','20101012','20121013','MVD','Paul','TN','IND',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('Mathew','123459','20101012','20121013','MVD','Paul','WAS','PHIL',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('Matt','12345','20101012','20121013','MVD','Paul','BOS','NYC',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('Jacob','1256','20101012','20121013','MVD','Paul','VIC','AU',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('Mathew','123459','20101012','20121013','MVD','Paul','WAS','IND',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('Athen','123459','20101012','20121013','MVD','Paul','WAS','PHIL',datetime.strptime('06031987', '%m%d%Y'),'A'),
       ('Peter','123459','20101012','20121013','MVD','Paul','WAS','PHIL',datetime.strptime('06031987', '%m%d%Y'),'A'),]

In [10]:
c.executemany(query,value)

In [11]:
c.execute('select * from customers;')

In [12]:
for i in c.fetchall():
    print(i)

('Alex', '123457', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'SA', 'USA', datetime.date(1987, 6, 3), 'A')
('John', '123458', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'TN', 'IND', datetime.date(1987, 6, 3), 'A')
('Mathew', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 6, 3), 'A')
('Matt', '12345', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'BOS', 'NYC', datetime.date(1987, 6, 3), 'A')
('Jacob', '1256', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'VIC', 'AU', datetime.date(1987, 6, 3), 'A')
('Mathew', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'IND', datetime.date(1987, 6, 3), 'A')
('Athen', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 6, 3), 'A')
('Peter', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 6, 3), 'A')

In [13]:
c.execute('select distinct(Country) FROM customers;')

In [14]:
lst=c.fetchall()
lst

[('USA',), ('IND',), ('PHIL',), ('NYC',), ('AU',)]

In [15]:
for i in lst:
    if i[0]=='IND':
        c.execute('CREATE TABLE Table_India as SELECT * FROM customers WHERE country="IND";')
    if i[0]=='USA':
        c.execute('CREATE TABLE Table_USA as SELECT * FROM customers WHERE country="USA";')
    if i[0]=='PHIL':
        c.execute('CREATE TABLE Table_PHIL as SELECT * FROM customers WHERE country="PHIL";')
    if i[0]=='NYC':
        c.execute('CREATE TABLE Table_NYC as SELECT * FROM customers WHERE country="NYC";')
    if i[0]=='AU':
        c.execute('CREATE TABLE Table_AU as SELECT * FROM customers WHERE country="AU";')

In [16]:
c.execute('show tables ;')

In [17]:
c.fetchall()

[('customers',),
 ('table_au',),
 ('table_india',),
 ('table_nyc',),
 ('table_phil',),
 ('table_usa',)]

In [20]:
c.execute('select * FROM Table_PHIL;')

In [21]:
for x in c.fetchall():
    print(x)

('Mathew', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 6, 3), 'A')
('Athen', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 6, 3), 'A')
('Peter', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 6, 3), 'A')